

/* Style for the hero section */
.hero {
    padding: 3rem 0;
    background-color: rgb(238, 233, 233);
  }
  
  .site-logo {
    color: #333;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-left: 30rem;
    margin-top: 115px;
  }
  
  .subtitle {
    color: #666;
    font-size: 1.25rem;
    margin-left: 30rem;
    margin-bottom: 0.2px;
   
  }
  
  /* Style for the search input and button */
  .field {
    margin-bottom: 2rem ;
  }
  
  .input {
    margin-left: 30rem;
    border-radius: 21px;
    padding: 0.5rem 1rem;
    border: 0.5px solid #ccc;
    width: 25%;
  }
  
  
  /* Center the content */
  .container {
    text-align: center;
  }

  .image {
    width: 400px ;
    float: left; /* Float the image to the left */
    margin-right: 100px; /* Adjust the right margin for spacing */
    animation : rotate 10s linear infinite;
    height: 400px ;
    border-radius: 90%;
    overflow:hidden;
    margin-top: -450px;
  }

  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  
