/* Restaurants.css */

.hero {
  background-color: #f8f9fa;
  padding: 3rem 0;
}

.hero-body {
  justify-content: center;
}

.container {
  max-width: 980px;
}

.title {
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  margin-left:350px;
  border-radius:3px

}

.footer-logo {
  text-align: left;
  display: flex;
}
.footer-logo img {
  width: 30%; /* Set image width to 100% */
  height: auto; /* Automatically adjust image height */
  border-radius: 0px;
}




.field.has-addons {
  margin-bottom: 1.5rem;
}

#restaurantArea {
  margin-top: 1.5rem;
}

.is-bold {
  font-weight: bold;
}

.is-light {
  background-color: #f8f9fa;
}

.is-primary {
  background-color: #00d1b2;
}

.is-primary:hover {
  background-color: #00c4a7;
}

.column.is-three-quarters .title {
  flex: 1; /* Allow the text content to take remaining space */
  margin-left :350px;
  margin-top:-250px;
}

.is-left-fa-map-marked-alt{
  margin-right:350px;
}

.button-is-primary{
  margin-left:350px;
  margin-top:-300px;



}
