  .Planner {
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    padding: 5px;
  }
  
  .PlannerDay {
    margin-bottom: 20px;
  }
  
  .PlannerDay h3 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .PlannerDay ul {
    list-style-type: none;
    padding: 5px;
  }
  
  .PlannerDay ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .PlannerDay ul li button {
    background-color: #FF4136;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .PlannerDay ul li button:hover {
    background-color: #ff1a1a;
  }
  
  /* Calendar styling */

  .react-calendar { 
 width: 400px;
 max-width: 100%;
 background-color: #fff;
 color: #222;
 border-radius: 8px;
 box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
 line-height: 1.125em;
}
.react-calendar__navigation button {
 color: #000000;
 min-width: 44px;
 background: none;
 font-size: 16px;
 margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
 background-color: #ecececd1;
}
.react-calendar__navigation button[disabled] {
 background-color: #f0f0f0;
}
abbr[title] {
 text-decoration: none;
}

.react-calendar__tile{
    background-color: white;
    color: black;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background: #ecececd1;
 color: #000000;
 border-radius: 6px;
}
.react-calendar__tile--now {
 background: #0059ff53;
 border-radius: 6px;
 font-weight: bold;
 color: #000000;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 background: #4686ff53;
 border-radius: 6px;
 font-weight: bold;
 color: #000000;
}

.react-calendar__tile--neighboringMonth,
.react-calendar__month-view__days__day--neighboringMonth {
  color: #8f8f8f;
}
