/* body {
    margin: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .recipe-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .recipe-app h1 {
    font-family: sans-serif;
    color: #fff;
  }
  .recipe-div {
    display: flex;
    flex-direction: colume;
    width: 100%;
    flex-wrap: wrap;
  }
  .recipe-input input {
    outline: none;
    border-radius: 4px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: large;
  }
  .recipe-input button {
    outline: none;
    border-radius: 4px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: large;
  }
  
  .recipe {
    width: 22%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 2rem 3rem 5rem #aaa;
  }
  
  .recipe h2 {
    background-color: rgba(161, 161, 161, 0.7);
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 0.5rem 0.5rem #555;
    color: #fff;
  }
  
  .recipe img {
    border-radius: 4px;
    object-fit: cover;
    height: 200px;
  }
  
  .recipe a {
    font-size: 14px;
    color: #40b48e;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .recipe button {
    font-size: 15px;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #40b48e;
    border: none;
    border-radius: 2px;
    padding: 10px;
  }
  
  .ingredient-list {
    margin-top: 1rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  
  .ingredient-list li {
    margin: 0.5rem 0;
  }
  
  .ingredient-text {
    font-size: 1.5rem;
    color: #888;
  }
  
  .ingredient-weight {
    color: #40b48e;
    font-size: 1.3rem;
  } */


  /* ////////////////////////////////////////// */

  /* recipe container */

  .RecipeContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  box-shadow: 0 3px 10px 0 #aaa;
  background-color: white;
  }

  .CoverImage{
    object-fit: cover;
    height: 200px;
  }

  .RecipeName { 
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .SeeMoreText{
    color: #eb3300;
  font-size: 18px;
  text-align: center;
  border: solid 1px #eb3300;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  }

  .IngredientsText{
    color: green;
    font-size: 18px;
  text-align: center;
  border: solid 1px green ;
  margin-bottom: 12px;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  }

  .SeeNewTab{
    color: green;
  border: solid 1px green;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  }

  .Container{
    display: flex;
  flex-direction: column;
  }

  .SearchBox{
    margin-top:200px ;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 6px;
  margin-left: 37%;
  width: 17%;
  background-color: white;
  border: 1px solid grey;
  }

  .SearchIcon{
    width: 23px;
    height: 23px;
  }

  .Placeholder{
    width: 120px;
  height: 120px;
  margin: 200px;
  opacity: 50%;
  }

  .SearchInput{
    color: black;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 15px;
  width: 54%;
  }

  .RecipeListContainer{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  justify-content: space-evenly;
  }
